* {
    padding: 0;
    margin: 0;
}

:root {
    --left-margin: 45px;
    --top-margin: 30px;
}

.nunito-heading {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

body {
    background-color: #f4ebde;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.header {
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    margin-left: var(--left-margin);
    margin-top: var(--top-margin);
    font-size: 2em;
}

.content {
    display: flex;
    flex-direction: row;
}

.hero-text {
    display: flex;
    flex-direction: column;
    width: 50vw;
    padding-left: var(--left-margin);
    justify-content: center;   
}

.colored {
    text-decoration: underline solid lightblue 5px;
}

.main-text {
    font-size: 2.5em;
}

a {
    color: lightblue;
}

.photo {
    width: 50vw;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* About me section */  

.description {
    width: 50vw;
    margin-top: var(--top-margin);
    margin-left: var(--left-margin);
}

.line {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 30px 0;
    font-size: 2.5em;
    font-weight: 600;
}

.line::before,
.line::after {
    content: "";
    flex: 1;
    border-bottom: 3px solid lightblue;
    margin: 0 10px;
}

.description-text {
    font-size: 1.5em;
}

.list-topic {
    font-weight: 600;
    margin-top: 15px;
}

ul {
    margin-left: 20px;
    
}

/* Projects section */

.projects {
    display: flex;
    flex-direction: row;
}

.projects-container {
    width: 50vw;
    margin-left: var(--left-margin);
}

