* {
    padding: 0;
    margin: 0;
}

:root {
    --left-margin: 45px;
    --top-margin: 30px;
}

.nunito-heading {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

body {
    background-color: #f4ebde;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.header {
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    margin-left: var(--left-margin);
    margin-top: var(--top-margin);
    font-size: 2em;
}

.content {
    display: flex;
    flex-direction: row;
}

.hero-text {
    display: flex;
    flex-direction: column;
    width: 50vw;
    padding-left: var(--left-margin);
    justify-content: center;   
}

.colored {
    text-decoration: underline solid lightblue 5px;
}

.main-text {
    font-size: 2.5em;
}

a {
    color: lightblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: black;
}



.photo {
    width: 50vw;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: fit-content;
}

/* About me section */  

.description {
    width: 50vw;
    margin-top: var(--top-margin);
    margin-left: var(--left-margin);
}

.line {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 30px 0;
    font-size: 2.5em;
    font-weight: 600;
}

.line::before,
.line::after {
    content: "";
    flex: 1;
    border-bottom: 4px solid lightblue;
    margin: 0 10px;
}

.description-text {
    font-size: 1.5em;
}

.list-topic {
    font-weight: 600;
    margin: 15px 0;
}

ul {
    margin-left: 20px;
}

li {
    margin-bottom: 5px;
}

.email {
    text-decoration: underline solid lightblue 3px;
    font-style: italic;
}

/* Projects section */

.projects {
    display: flex;
    flex-direction: row;
}

.projects-container {
    width: 50vw;
    margin-left: var(--left-margin);
}

.project-topic {
    margin-bottom: 15px;
}

/* Projects pages */

.project-content {
    display: flex;
    flex-direction: row;
}

.project-pic {
    width: 50vw;
}

.project-desc {
    width: 50vw;
    margin: var(--top-margin) var(--left-margin);
    font-size: 1.5em;
    display: flex;
    flex-direction: column;

    p {
        margin-bottom: 10px;
    }
}

.project-name {
    justify-content: center;
    height: 10vh;
    font-size: 1.5em;
}

iframe {
    margin-top: var(--top-margin);
    border-radius: 10px;
    align-self: center;
}

.pic-desc {
    color: darkgray;
    margin-top: var(--top-margin);
    font-size: 0.75em;
}

.footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 480px) {
    .header {
        justify-content: center;
    }

    .content {
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
    }

    .hero-text {
        width: auto;
    }

    .main-text {
        font-size: 1.5em;
    }

    .contact {
        padding: 10px 0;
    }

    .photo {
        margin: 10px;
        align-self: center;
        width: 80vw;
    }

    .description, .projects-container {
        width: 80vw;
    }

    .projects {
        flex-direction: column;
    }
}