* {
    padding: 0;
    margin: 0;
}

:root {
    --left-margin: 45px;
    --top-margin: 30px;
}

.nunito-heading {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

body {
    background-color: #f4ebde;
}

.header {
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    margin-left: var(--left-margin);
    margin-top: var(--top-margin);
    font-size: 2em;
}

.content {
    display: flex;
    flex-direction: row;
}

.hero-text {
    display: flex;
    flex-direction: column;
    width: 50vw;
    padding-left: var(--left-margin);
    justify-content: center;   
}

.colored {
    text-decoration: underline solid lightblue 5px;
}

.main-text {
    font-size: 2.5em;
}

a {
    color: lightblue;
}

.photo {
    width: 50vw;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}